@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geist";
    font-weight: 100;

    src: url("../assets/fonts/geist/Geist-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 200;

    src: url("../assets/fonts/geist/Geist-UltraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 300;

    src: url("../assets/fonts/geist/Geist-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 400;
    font-style: normal;

    src: url("../assets/fonts/geist/Geist-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 600;

    src: url("../assets/fonts/geist/Geist-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 700;

    src: url("../assets/fonts/geist/Geist-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 800;

    src: url("../assets/fonts/geist/Geist-Black.woff2") format("woff2");
  }
  @font-face {
    font-family: "Geist";
    font-weight: 900;

    src: url("../assets/fonts/geist/Geist-UltraBlack.woff2") format("woff2");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 100;

    src: url("../assets/fonts/outfit/Outfit-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 200;

    src: url("../assets/fonts/outfit/Outfit-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 300;

    src: url("../assets/fonts/outfit/Outfit-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 400;

    src: url("../assets/fonts/outfit/Outfit-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 500;

    src: url("../assets/fonts/outfit/Outfit-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 600;

    src: url("../assets/fonts/outfit/Outfit-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 700;

    src: url("../assets/fonts/outfit/Outfit-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 800;

    src: url("../assets/fonts/outfit/Outfit-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 900;

    src: url("../assets/fonts/outfit/Outfit-Black.ttf") format("truetype");
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --dots: 240 5.9% 85%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --dots: 240 3.7% 8.9%;
  }
}

#app,
body,
html {
  background-color: hsl(var(--background));
}

@layer base {
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height: 0px; /* Height for horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--muted)); /* Track background color */
    border-radius: var(--radius); /* Rounded track */
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--primary)); /* Thumb (scroll indicator) color */
    border-radius: var(--radius); /* Rounded thumb */
    border: 2px solid transparent; /* Space around the thumb for visibility */
    background-clip: padding-box; /* Avoid border overlap */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary-foreground)); /* Brighter on hover */
  }
}

@layer base {
  * {
    @apply m-0 border-border p-0 font-sans;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }
  .draglayer {
    @apply bg-background;
    -webkit-app-region: drag;
  }
}
